
data
template.html
pics
archive/*
bearstyle.css
blog_assets/2023_03_20/tacos.pdf
linklist/linklist.txt
*.R
*.pl
*.sh
*.py
*.tex
*.aux
*.log
*.out
*.gz
cvtable.txt
linklist/*

cv2.html
eat-god/eat-god.html
eat-god/rebelliousArts.json
