cvfiles/*
cv.html
data
template.html
pics
archive/*
bearstyle.css
blog_assets/2023_03_20/tacos.pdf
linklist/linklist.txt
*.R
*.pl
*.sh
*.py
*.tex
*.aux
*.log
*.out
*.gz
cvtable.txt
linklist/*
eat-god/eat-god.html
eat-god/rebelliousArts.json
gamow/purg.js
/gamow/old
gamow/imgs/archive/arrowBlue.png
gamow/imgs/archive/arrowGold.png
gamow/imgs/archive/padBlue.png
gamow/imgs/archive/padGold.png
gamow/imgs/sGray.png
gamow/imgs/sGrayA.png
gamow/imgs/sGreen.png
gamow/imgs/sGreenA.png
gamow/thingy.html
gamow/~$pcode.docx
gamow/__pycache__/gamow.cpython-311.pyc
cvfiles/cv.pdf
cv.html
index-clean.html
cv.html
cvfiles/cv.pdf
